.tooltip {
    background-color: white;
    position: absolute;
    bottom: 3px;
    z-index: 1;
    width: 45vw;
    transition: all 0.5s linear;
    padding: 10px;
    border-radius: 10px;
    max-height: 300px;
    overflow: hidden;
}

.message {
    width: 45vw;
    max-height: 300px;
    overflow: scroll;
    border-radius: 10px;
    position: absolute;
    bottom: -20px;
    z-index: 1;
}

.tooltip__title {
    display: flex;
    justify-content: space-between;
}

.message-header {
    word-break: keep-all;
}

.tooltip p {
    font-size: 2em;
}

.modal__title {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}
